#bg{
    background:rgb(47,73,88);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
#Calcuator_bg{
    background-color: rgb(234,95,92);
    width: 28rem;
    height: 38rem;
    padding-top: 2rem;
    border-radius: 2rem;
    box-shadow: 0px 5px 3px rgb(196,63,58);
}
#result{
    width: 21rem;
    height: 9rem;
    background: white;
    border-radius: 2rem;
    border: 0.2rem solid silver;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 2rem;

}
button{
    padding-top:1rem ;
    border-radius: 1rem;
    margin: 0.5rem;
    height: 4rem;
    font-size: 2.3rem;
    text-align: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
    width: 5rem;
    font-weight: bold;
    background-color: #2f4958;
    color: white;
    box-shadow: 0px 5px 2px #144058 ;
    border: #034061;


}
#bntspl{
    width:11.5rem ;
   
}
.color_bnt{
    background-color: white;
    color: #2f4958;
}